:root {
  background-color: #ffffff;
}


@font-face {
  font-family: "sOuTh Afirkas 2100";
  src: url("/src/assets/south\ afirkas\ 2100.ttf") format("truetype"); /* Fallback */
  font-weight: normal; /* Adjust if necessary */
  font-style: normal; /* Adjust if necessary */
}

.hero_image {
  position: relative;
  width: 100%;
  max-width: 600px;
  left: 10%; /* Push the image out of the normal margin */
}

.header__section {
  background-image: url("https://res.cloudinary.com/dw3vqhvte/image/upload/v1724856658/bg_ytc3ei.svg");
  background-position: center;
  background-size: cover;
  height: 94vh;
  margin-top: 0;
  padding-bottom: 100px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
  padding: 0 50px;
}

.text {
  font-size: 24px;
  font-family: Arial, sans-serif;
  line-height: 27.6px;
  width: 70%;
  text-align: left;
  color: #fff;
  margin-bottom: 70px;
}

.text_1{
  font-family: "sOuTh Afirkas 2100", Arial, sans-serif;

}

.text--normal {
  font-size: 20px;
  font-family: "sOuTh Afirkas 2100", Arial, sans-serif;
}

.header__text {
  font-family: "sOuTh Afirkas 2100", Arial, sans-serif;
  font-size: 72px;
  width: 70%;
  font-style: normal;
  font-weight: 100;
  line-height: 82.79px;
  color: #fff;
  margin-bottom: 30px;
}

.btn-container {
  background: #484646;
  width: 200px;
  background-color: #cb8806;
  padding: 16px;
  color: white;
  border-radius: 8px;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
}

.btn:hover {
  /* box-shadow: rgba(105, 71, 208, 0.819) -10px 10px; */
}

.keke_section {
  padding: 0 70px;
  margin-top: 100px;
  margin-bottom: 200px;
  color: black;
}

.keke_title {
  font-size: 58px;
  padding-right: 800px;
  margin-bottom: 60px;
}

.keke_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.keke_container img {
  width: 100%;
  max-width: 400px;
}

/* Define keyframes for the scrolling animation */
@keyframes scrollText {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-50%);
  }
}

/*===================================================== Step Section=================================================================*/
.step_section {
  padding: 0 70px;
  color: black;
}

.step_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 120px;
}
.step_content {
  border-radius: 8px;
  padding: 40px 50px;
  background-image: url("https://res.cloudinary.com/dw3vqhvte/image/upload/v1724856658/bg_ytc3ei.svg");
  color: #f4f4f4;
  background-position: center;
  background-size: cover;
}

.step_p {
  font-size: 24px;
  font-family: Arial, sans-serif;
  margin: 0 0 40px;
}
.step {
  font-size: 28px;
  font-weight: 400;
  line-height: 32.2px;
  text-align: left;
}
.step_img {
  width: 100%;
  position: relative;
  max-width: 900px;
  position: relative;
  left: 10%; /* Push the image out of the normal margin */
}

/*===================================================== FOOTER =================================================================*/
.footer_section {
  background-color: black;
}

.footer {
  color: #fff;
  background-color: black;
  padding: 30px 70px;
}

.socials {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.footer_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.246);
}

.footer_bottom p {
  font-family: "sOuTh Afirkas 2100", Arial, sans-serif;
  text-align: center;
  padding-bottom: 30px;
  font-size: 18px;
  color: #f4f4f4;
}

/* Base styles */
.nav_item {
  position: relative; /* Position the dropdown relative to its parent */
}

.language-selector {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #f2e8e8;
  cursor: pointer;
  gap: 10px;
}

/* Dropdown styles */
.dropdown {
  position: absolute;
  top: 100%; /* Position just below the language selector */
  left: 0;
  background-color: rgb(21, 20, 20);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  list-style: none;
  padding: 5px 10px;
  margin: 0;
  z-index: 10;
  border-radius: 5px;
}

.dropdown-link {
  display: block;
  padding: 10px 20px;
  text-decoration: none;
  color: #333;
  transition: background-color 0.3s;
}

.dropdown-link:hover {
  background-color: #484646;
}

/* Arrow rotation when dropdown is visible */
.nav_item.show .arrow-icon {
  transform: rotate(-135deg); /* Rotate the arrow up */
}

.download {
  padding: 90px 90px;
}

.download_title {
  font-size: 64px;
  line-height: 82.79px;
  color: #ffffff;
  padding-bottom: 20px;
}
.download_btn{
  display: flex;
  gap: 10px;
  width: 100%;
  padding-bottom: 40px;
}

.download_btn img{
  max-width: 300px;
  width: 100%;

}

.download_img {
  max-width: 800px;
  width: 100%;
}

.download_section {
  display: flex;
  gap: 200px;
  justify-content: space-between;
  align-items: flex-start;
  background-image: url("https://res.cloudinary.com/dw3vqhvte/image/upload/v1724856658/bg_ytc3ei.svg");
  border-radius: 8px;
  padding: 0 70px;
  padding-top: 50px;
}

.button {
  width: 250px;
  background-color: #cb8806;
  padding: 20px;
  color: white;
  border-radius: 8px;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
}

.btn{
  color: #f2e8e8;
}


@media screen and (max-width: 600px) {
  .header__section {
    height: 76vh;
  }



  .hero_image img {
    max-width: 320px;
    left: 50%; /* Push the image out of the normal margin */

  }

  .header__text {
    font-size: 35px;
    line-height: 47px;
    margin-bottom: 10px;
  }

  .header {
    padding: 0 16px;
    align-items:flex-end;
    flex-direction: column;
    margin: 40px 0;
  }

  .text {
    font-size: 16px;
    line-height: 16.1px;
    margin-bottom: 30px;
  }

  .home_title {
    margin-bottom: 10px;
  }
  .home_subtext {
    margin-bottom: 10px;
  }

  .btn-container {
    width: 130px;
    padding: 10px;
    font-size: 12px;
  }

  .keke_container {
    flex-direction: column;
  }

  .step_container {
    flex-direction: column-reverse;
    padding-bottom: 20px;
    gap: 30px;
  }

  .keke_section {
    margin-top: 150px;
    padding: 0 16px;
    margin-bottom: 60px;
  }

  .keke_title {
    padding-right: 20px;
    margin-bottom: 10px;
    font-size: 24px;
  }

  /*===================================================== Step Section=================================================================*/
  .step_section {
    padding: 0 16px;
  }

  .step_content {
    padding: 20px 50px;
  }

  h3 {
    font-size: 14px;
    line-height: 3.5;
  }

  .step {
    font-size: 14px;
    font-weight: 400;
    line-height: 32.2px;
  }

  .step_p {
    font-size: 14px;
    margin: 0 0 20px;
  }

  .step_img {
    left: 10%; /* Push the image out of the normal margin */
  }

  .footer {
    color: #fff;
    background-color: black;
    padding: 20px 16px;
  }

  .footer_content {
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    padding-bottom: 20px;
  }

  .download_btn{
    gap: 5px;
    flex-direction: column;
  }
  .download_btn img{
    width: 70%;
  }

 

  .download {
    padding: 10px 16px;
    padding-bottom: 60px;
  }

  .download_section {
    padding: 0 16px;
    padding-top: 60px;
    gap: 15px;
  }

  .download_img {
    width: 70%;
  }

  .download_title {
    font-size: 20px;
    line-height: 23px;
    padding-bottom: 10px;
  }

  .footer_logo img {
    width: 60%;
  }
  .footer_bottom p {
    font-size: 12px;
    text-align: left;
  }

  .button {
    width: 100px;
    padding: 10px;
  }

  .btn{
    font-size: 10px;
  }
}
