.home__nav img {
  width: 200px;
}
.logo__con img {
  width: 100%;
}

.home__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  cursor: pointer;
  top: 0;
  width: 100%;
  padding: 10px 40px;
  z-index: 1000;
  background-color: transparent;
  backdrop-filter: blur(3px);
}
.nav_download {
  background-color: #cb8806;
  padding: 16px;
  color: white;
  border-radius: 8px;
  font-size: 14px;
}
.home__nav ul {
  display: flex;
  gap: 40px;
  font-size: 16px;
  font-weight: 550;
  font-family: "sOuTh Afirkas 2100", Arial, sans-serif;
}

.nav_link {
  transition: transform 0.3s ease, color 0.3s ease;
  color: white;

}

.nav_link:hover {
  transform: scale(1.1);
  color: #cb8806;
}

.home__nav button {
  border: none;
  z-index: 2000;
  position: relative;
  transition: 0.3s;
  display: none;
  /* display: block; */
  /* border: none; */
  /* z-index: 2000; */
  position: relative;
  transition: 0.3s;
}

.icon-left {
  margin-right: 10px;
}

.icon-right {
  margin-left: 10px;
}

.language-selector{
  display: block;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 100;
  background: white;
  list-style: none;
  padding: 20px;
  margin: 0;
}

.dropdown-menu li {
  padding: 8px 16px;
  cursor: pointer;
}

.dropdown-menu li:hover {
  background: #f0f0f0;
}

@media (max-width: 1300px) {
  .home__nav {
    padding: 20px 15px;
  }

  .home__nav a {
    z-index: 2000;
    font-size: 20px;
    font-weight: 400;
  }

  .nav_link .language-selector{
    display: none;
  }

  .home__nav button {
    position: relative;
    /* display: none; */
    display: block;
    border: none;
    z-index: 2000;
    transition: 0.3s;
    background: inherit;
  }

  .home__nav button span {
    height: 5px;
    width: 40px;
    display: block;
    z-index: 1000;
    transform-origin: center;
    transition: 0.5s;
    cursor: pointer;
  }

  .line {
    background: #cb8806;
    height: 2px; /* Line thickness */
    width: 30px; /* Default width for lines */
    margin: 4px 0; /* Space between lines */
  }

  /* .nav_link .langauge_select li{
    display: none;
  } */

  .open {
    /* display: flex !important; */
    pointer-events: unset !important;
    opacity: 1 !important;
    font-size: 10px;
  }

  

  .home__nav img {
    width: 100px;
  }

  .home__nav ul li {
    padding: 5px 30px;
  }

  .home__nav ul {
    display: flex;
    justify-content: center;
    align-items: flex-start; /* Adjusted to align items at the top */
    opacity: 0;
    pointer-events: none;
    position: fixed;
    width: 100%; /* Adjust width as needed */
    height: 50vh; /* Full height or adjust as needed */
    background: rgb(249, 249, 249);
    top: 0;
    right: 0; /* Aligns the menu to the right edge */
    overflow: hidden; /* Allows scrolling if content overflows */
    flex-direction: column;
    transition: transform 0.3s ease, opacity 0.3s ease; /* Smooth transition for both transform and opacity */
    z-index: 2000;
  }
}
